.header {
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 92px;
  background-color: aliceblue;
}

/* .wrapper {
  display: grid;
  grid-template-columns: 72px 1fr;
} */

.title {
  font-size: 2rem;
  text-align: center;
}

.link {
  display: inline-flex;
  align-items: center;
}
