.header {
  display: grid;
  grid-template-columns: 80px 1fr;
  min-height: 92px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

/* .wrapper {
  display: grid;
  grid-template-columns: 72px 1fr;
} */

.title {
  font-size: 2rem;
  text-align: center;
}

.link {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
  }
}